:root {
	--container-width: 1230px;
	--container-padding: 15px;

	--font-main: 'Circular Std', sans-serif;


	--page-bg: #fff;
	--text-color: #181818;
	--text-muted: #909090;
	--accent: #35aff4;

    // --laptop-size: 1199px;
	// --tablet-size: 767px;
	--mobile-size: 767px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}

@mixin mediaMobile {
	@media (max-width: 767px) {
        @content;
    }

}

@mixin mediaLaptop {
	@media (max-width: 1439px) {
        @content;
    }

}

@mixin mediaSmalLaptop {
	@media (max-width: 1023px) {
        @content;
    }

}