.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.logo {
}
.nav__list {
    display: flex;
    align-items: center;
    gap: 24px;
    a.active, a:hover {
        color: #35aff4;
    }
    a{
        color: #181818;
    }
}
.nav__btns {
    display: flex;
    gap: 12px;

}
