.testimonials {
    padding-bottom: 30px;
}

.testimonials__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    overflow: hidden;
    @include mediaMobile{
        grid-template-columns: 1fr;
        overflow: visible;
    }
    
}
.testimonials__col {
    display: grid;
    gap: 32px;
    &:nth-child(2){
        margin-top: 150px;
        @include mediaMobile{
            margin-top: 0;
        }
    }
    &:first-child{
        @include mediaMobile{
            display: none;
            
        }
    }
    &:last-child{
        @include mediaMobile{
            display: none;
            
        }
    }
    

    animation: slideUp 20s linear infinite;
    @include mediaMobile{
        animation: none;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    95% {
        transform: translateY(-50%);
        opacity: 1;
        filter: blur(0px);
    }
    97%{
        transform: translateY(-50%);
        opacity: 0;
        filter: blur(10px);
    }
    98%{
        transform: translateY(0%);
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}